/*
    ========================================
    SERVICIO ENVÍOS EXPRESS
    ARCHIVO PRINCIPAL CSS
    ========================================
*/



* {
    /* Ayuda a controlar mejor los tamaños, rellenos y bordes.*/
    box-sizing: border-box;
}



body {

    /* Eliminar espacios adicionales que el navegador agrega 
    automáticamente.*/
    margin: 0;
    padding: 0;


    font-family: Arial, sans-serif;

    background-color: #f5f5f5;

    color: #222222;
}